<ion-view title="About">

 
  
  

   <ion-nav-buttons side = "Left">
 
  
  
<a class="button button-clear" href="#/app/paths"> <i class="icon ion-ios7-arrow-back"></i> Back</a>
  
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">

  <div class="item">
    
    <h2>Project ike</h2>
    <p> version 0.1a - Unreleased.</p>
  </div>

  <div class="item item-body">
    
      <h2>About ike:</h2>
    <p>
      ike, _ike, ikeproject and the ikeProject Logo are uncopyrighted trademarks of ikeSocial inc. <br>No Rights Reserved.

    </p>
     <h2>ikeSocial inc.</h2>
    <p>
     740 Evergreen Terrace,<br>
      Springfield NT,<br>
      USA.<br>
      <i class="icon ion-ios7-telephone"></i>
      <b>Phone number: </b> +1 636-555-1989<br>
      <i class="icon ion-at"></i>
      <b>email: </b> contact@ikeSocial.com<br>
      <i class="icon ion-earth"></i>
      <b>page: </b> www.ikeSocial.com<br>
    </p>
   


</div>
  </ion-content>
</ion-view>
