<link href="css/style.css" rel="stylesheet">
<ion-view title="Add a Path">
 <ion-nav-buttons side = "left">
  <a class="button button-clear" href="#/app/addMap">Back</a>
  </ion-nav-buttons>
 
  <ion-content class="has-header">
  <form novalidate="novalidate" on-valid-submit='newPostPath()'>
    <div class="list card">
  <label class="item item-input validated">
  	<span class="input-label">Title</span>
    <input type="text" ng-model="postData.title" placeholder="Title" required="required" name="title">
    <i class="icon ion-alert-circled error"></i>
  </label>
    <label class="item item-input item-select validated">
    <div class="input-label" >
      Type
    </div>
    <select ng-model="postData.type" required="required" name="type">
      <option>Hike</option>
      <option selected>Bike</option>
      <option>Walk</option>
      <option>Run</option>
    </select>
    <i class="icon ion-alert-circled error"></i>
  </label>

  <label class="item item-input validated">
  	<span class="input-label">Description
    </span>

    <textarea ng-model="postData.description" placeholder="Description" required="required" name="description">
     
    </textarea>
    <i class="icon ion-alert-circled error"></i>
  </label>

    <label class="item item-input item-select validated">
    <div class="input-label">
      Difficulty
    </div>
    <select ng-model="postData.difficulty" required="required" name="difficulty">
      <option>Easy</option>
      <option selected>Medium</option>
      <option>Hard</option>  
    </select>
    <i class="icon ion-alert-circled error"></i>
  </label>
   <label class="item item-input validated">
  	<span class="input-label">Guidelines</span>
    <textarea ng-model="postData.specialguides" placeholder="Guidelines" required="required" name="guidelines">
     
    </textarea>
 <i class="icon ion-alert-circled error"></i>
  </label>

  <label class="item item-input validated">
  	<span class="input-label">Estimated time</span>
    <input type="text" ng-model="postData.eta" placeholder="Time in Minutes" required="required" name="eta">
    <i class="icon ion-alert-circled error"></i>
  </label>

  <div class='padding'>
    <button type="submit" class="button icon-right ion-chevron-right button-block button-outline button-assertive" >Submit</button>
  </div>
</div>
</form>
  </ion-content>
</ion-view>
