<ion-view style="background: transparent;" title='View Map'>

  <ion-nav-buttons side = "left">
  <a class="button button-clear" href="#/app/paths">Cancel</a>
  </ion-nav-buttons>

  <ion-nav-buttons side = "right">
  <button class="button button-clear" ng-click='isEmpty()'>Next</button>
  </ion-nav-buttons>

  <ion-content id="map" data-ng-controller="addMapCtrl" scroll='false'></ion-content>

  <ion-footer-bar class="bar-dark">

    <a ng-click="removeLine()" class="button button-icon icon ion-ios7-trash"> Remove Path</a>
   </ion-footer-bar>