<ion-view name = "comments" title='Comments'>



  <ion-nav-buttons side = "right">
 
  
  
 <a class="button button-clear" href="#/app/paths/{{back}}">Close</a>
  
  </ion-nav-buttons>
   <ion-content>
    <ion-list>
      <ion-item ng-repeat="comment in comments">
        {{comment.commenttext}}
        <p>{{comment.username}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
