<div class="modal">
  <ion-header-bar>
    <h1 class="title">Add A Comment</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="close()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitComment()">
        <label class="item item-input">
    <span class="input-label">Comment:</span>
    <textarea ng-model="postCommentData.commenttext" placeholder ="Your Comment Goes here"></textarea>
  </label>
        <label class="item">
          <button class="button button-block button-outline button-assertive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>

