<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">  
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
     <a class="item item-thumbnail-left">
      <img src='{{image}}' style='border-radius: 50%;3-moz-border-radius: 50%;4-webkit-border-radius: 50%;'/>
      <br> 
      <h2>{{name}}</h2>
      <p><b>Using: </b>{{social_medium}}</p>
    </a>
      <ion-list>
        <ion-item nav-clear menu-close  href="#/app/search">
          Search
        </ion-item>
         <ion-item nav-clear menu-close href="#/app/about">
          About
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          Logout
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
