<ion-view title='<img class="title-image" src="img/logo.png" height="42" />'>
  <ion-nav-buttons side = "left">
 
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  

  
  </ion-nav-buttons>
  <ion-nav-buttons side = "right">
 
  
  
<a class="button button-icon icon ion-plus" href="#/app/addMap"></a>
  
  </ion-nav-buttons>
  <ion-content>
      <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>

      <ion-item ng-repeat="path in paths" href="#/app/paths/{{path.pathid}}">
        {{path.title}}
        <p><u>Type:</u> {{path.TYPE}}&nbsp;&#x2015;&nbsp;<u>Difficulty:</u> {{path.difficulty}}&nbsp;&#x2015;&nbsp;<u>Time to Complete:</u> {{path.eta}}&nbsp;&#x2015;&nbsp;<u>Distance:</u> {{path.distance_in_km}} km</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
