<link href="lib/bootstrap/bootstrap.min.css"
  rel="stylesheet">
<ion-view title="Path">

 
  
  

   <ion-nav-buttons side = "Left">
 
  
  
<a class="button button-clear" href="#/app/paths"> <i class="icon ion-ios7-arrow-back"></i> Back</a>
  
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">

  <div class="item">
    
    <h2>{{path.title}}  &nbsp;&#x2014;&nbsp; <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="hoveringLeave(rate)" ></rating></h2>
    <p><u>Type:</u> {{path.TYPE}}&nbsp;&#x2015;&nbsp;<u>Difficulty:</u> {{path.difficulty}}&nbsp;&#x2015;&nbsp;<u>Time to Complete:</u> {{path.eta}}&nbsp;&#x2015;&nbsp;<u>Shared by:</u> {{path.username}}</p>
  </div>

  <div class="item item-body">
      
      <h2>Description</h2>
    <p>
      {{path.description}}
    </p>
     <h2>General Guidelines</h2>
    <p>
     {{path.specialguides}}
    </p>
   
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    
    <a class="tab-item" href="#/app/paths/{{path.pathid}}/comments">
      <i class="icon ion-chatbox"></i>
      View Comments
    </a>
    <a class="tab-item" ng-click="open()">
      <i class="icon ion-plus"></i>
      Add Comment
    </a>
    <a class="tab-item" href="#/app/paths/{{path.pathid}}/viewmap">
      <i class="icon ion-map"></i>
      View Map
    </a>
    
  </div>

</div>
  </ion-content>
</ion-view>
