<ion-view title="Search">
   <ion-nav-buttons side = "Left">
 
  
  
<a class="button button-clear" href="#/app/playlists"> <i class="icon ion-ios7-arrow-back"></i> Back</a>
  
  </ion-nav-buttons>

  </div>
  <ion-content class="has-header" id="content" >
    <div id="search-bar">
    <div class="item item-input-inset">
      <label class="item-input-wrapper" id="search-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query.string" ng-change="search()">
      </label>
    </div>
  </div>
  <div >
  	<ion-list >
      <ion-item ng-repeat="result in results" href="#/app/paths/{{result.pathid}}">
        {{result.title}}
        <p><u>Type:</u> {{result.TYPE}}&nbsp;&#x2015;&nbsp;<u>Difficulty:</u> {{result.difficulty}}&nbsp;&#x2015;&nbsp;<u>Time to Complete:</u> {{result.eta}}</p>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
