<ion-view style="background: transparent;" title='View Map'>



  <ion-nav-buttons side = "right">
 
  
  
 <a class="button button-clear" href="#/app/paths/{{back}}">Close</a>
  
  </ion-nav-buttons>

  <ion-content id="map" data-ng-controller="viewMapCtrl" scroll='false'></ion-content>



