form i.icon.error {
  color: #ef4e3a; }

form i.icon.error {
  display: none;
  margin-left: 16px; }

form.ng-submitted .ng-invalid + i.icon.error {
  display: block; }

form .has-error {
  border-left: 5px solid #cc2511; }

form .has-success {
  border-left: 5px solid #3d8b3d; }

form.ng-submitted .ng-valid + i.icon.error {
  display: none; 
}